<div class="jumbotron">
 <h1>새로 등록하기</h1>
 <p class="lead">이미지 링크와 소개를 등록해주세요</p>
 <%= form_tag "/post/create", method: "post" do %>
   <div class="form-group">
     <input type="text" class="form-control" name="title" placeholder="맛집 이름">
   </div>
   <div class="form-group">
     <input type="text" class="form-control" name="img" placeholder="http://">
   </div>
   <div class="form-group">
     <textarea class="form-control" name="content" placeholder="맛집 설명"></textarea>
   </div>
 <br>
 <button class="btn btn-success">등록하기</button>
 <% end %>
 </div>