<!DOCTYPE html>
<html>
<head>
  <title>Food</title>
	<link rel="stylesheet" href=https://bootswatch.com/slate/bootstrap.min.css>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href="/">홈으로</a></li>
            <li role="presentation"><a href="/post/new">맛집등록</a></li>
            <% if user_signed_in? %>
            	<li role="presentation"><a href="/users_sign_out" data-method>로그아웃</a></li>
            <% else %>
            	<li role="presentation"><a href="/users/sign_in">로그인</a></li>
            	<li role="presentation"><a href="/users/sign_up">회원가입</a></li>
            <% end %>
          </ul>
        </nav>
        <h3><%= link_to "맛집 평가 서비스", root_path %></h3>
      </div>
<%= yield %>
	<footer class="footer">
	        <p>&copy; 2016 Open univ, Inc.</p>
	      </footer>

	    </div> <!-- /container -->

</body>
</html>
